<!-- ################-->
<!-- START TOP MENU -->
<!-- ################-->
<div class="nav-reaction" style="position:fixed;">
    <div class="navbar navbar-static-top">
        <!-- navbar-fixed-top -->
        <div class="navbar-inner">
            <div class="container">
                <div id="main-nav">
                    <div class="nav-collapse collapse">
                        <ul class="nav" style="float:left !important;margin-top:0px !important">
                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    data-toggle="dropdown" href="@Url.Action(@ViewBag.Produto,"Produtos")"><img src="@ViewBag.Logo" /> <b class="caret" style="margin-top: 30px;"></b></a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Sispart","Solucoes")"><img src="~/images/logo_sispart.gif" /></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav" id="menuGISagri">
                            <li class="active">
                                <a href="#main">Home</a>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    data-toggle="dropdown" href="#assets">Módulos <b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#gisagridesktop">GISagri Desktop</a>
                                    </li>

                                    <li>
                                        <a href="#gisagriconnect">GISagri Connect</a>
                                    </li>

                                    <li>
                                        <a href="#gisagrimaps">GISagri Maps</a>
                                    </li>

                                    <li>
                                        <a href="#gisagrimobile">GISagri Mobile</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#galeria">Galeria de Mapas</a>
                            </li>

                            <li>
                                <a href="#about">Sobre</a>
                            </li>

                            <li>
                                <a href="#contact">Contato</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index","Home")">ISG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ################-->
<!-- END TOP MENU -->
<!-- ################-->
