<!-- Footer ================================================== -->

<footer class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <h4 class="line3 center standart-h4title">
                    <span>Navegação</span></h4>

                <ul class="footer-links">
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Institucional")">Institucional</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Sispart","Solucoes")">SISPART</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Desenvolvimento","Solucoes")">Desenvolvimento de Software</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Gis","Solucoes")">Sistema de Informação Geográfica</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Siget","Cases")">Siget</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Sga","Cases")">Sistema de Gestão de Alimentação</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Mensageria","Cases")">Sistema de Mensageria</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Noticias")">Notícias</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Contato")">Contato</a>
                    </li>
                </ul>
            </div>

@*            <div class="span3">
                <h4 class="line3 center standart-h4title">
                    <span>Clientes</span></h4>

                <ul class="footer-links">
                    <li>
                        <a href="#">FIBRIA</a>
                    </li>

                    <li>
                        <a href="#">ARCELORMITTAL</a>
                    </li>

                    <li>
                        <a href="#">ÁGUIA BRANCA</a>
                    </li>

                    <li>
                        <a href="#">FUNDAÇÃO ANDRÉ MAGGI</a>
                    </li>
                </ul>
            </div>*@

            <div class="span4">
                <h4 class="line3 center standart-h4title"><span>Nosso
                        escritório</span></h4>

                <address>
                    <strong>Vitória</strong><br>
                    <i class="fa-icon-map-marker"></i> R. Eurico de
                            Aguiar, 888, sala 1004<br>
                    Vitória, ES 29055-280<br>
                    <i class="fa-icon-phone-sign"></i> + 55 (27)
                            2122-0880

                           

                            <div class="foot-line"></div>
                </address>
            </div>

            <div class="span4">
                <h4 class="line3 center standart-h4title"><span>Stay in
                        touch</span></h4>

                <div class="widget_nav_menu">
                    <ul class="socialIcons">
                        <li class="facebook">
                            <a href="https://www.facebook.com/InflorConsultoriaESistemas" target="_blank">facebook</a>
                        </li>

                        <li class="email">
                            <a href="#">email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="half1 copyhr">

        <div class="row-fluid copyright">
            <div class="span12 center">
                Copyright © 2013. ISG Consultoria e Sistemas
                   
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
